/* common */

:root {
  --color-bg-beige: #F1EFE4;
  --color-bg-white: #fff;
  --width-pc: 1000px;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 16px;
  color: #000;
  background-color: var(--color-bg-beige);
}

body.is-active {
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-family: "Shippori Mincho", serif;
}

/* TODO ボタンの全体にfont-weight: 700;をかけて、header-button に400をかけたが正しいかを確認する。 */
.button {
  font-family: "Tenor Sans", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  background: linear-gradient(360deg, #DE6262 -24.07%, #FFB88C 88.18%);
  border-radius: 10px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}




/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F1EFE4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
/* TODOここのdivにクラスをつけたほうがいいかを確認する */
.header div {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
}

.global-nav {
  display: none;
}

.header-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 1px;
  font-weight: 400;
}

.header-button::before {
  content: attr(data-kana);
  font-family: "Shippori Mincho", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  margin: 0 10px;
  padding: 0;
  position: relative;
  z-index: 200;
}
/* TODO これはいるかを確認する。
  cursor: pointer; */

.hamburger::before,
.hamburger::after {
  content: '';
}

.hamburger span,
.hamburger::before,
.hamburger::after {
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
  transition: all 0.3s ease-in-out;
}

/* TODO ここまで、グロナビが出ないので確認する。 */
.global-nav {
  position: fixed;
  top: 60px;
  right: 0;
  width: 300px;
  height: calc(100svh - 60px);
  background: #F1EFE4;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 150;
  padding-top: 80px;
}

.global-nav ul li {
  padding: 20px;
  text-align: center;
}

.global-nav ul li:hover {
  background: #eee;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s visibility 0.3s;
  z-index: 140;
}



body.is-active .global-nav {
  transform: translateX(0);
}

body.is-active .overlay {
  opacity: 1;
  visibility: visible;
}




/* main */

.main-visual {
  padding: 80px 0 0;
}

.home-section {
  padding: 40px 4%;
}

.home-section:nth-of-type(even) {
  background-color: #FFFFFF;
}

.home-section p {
  line-height: 200%;
}

.home-section p:not(:last-child) {
    margin: 0 0 30px;
}

.sub-title {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px;
  position: relative;
}

.sub-title::before {
  content: attr(data-en);
  font-family: "Tenor Sans";
  font-size: 32px;
}

.sub-title::after {
  display: block;
  content: '';
  position: absolute;
  width: 26px;
  height: 5px;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 41px;
  background: #E3DBAF;
}

.stylist-photo {
  display: flex;
  justify-content: center;
}

.stylist-section img {
  width: 170px;
  margin: 0 0 30px;
}

.name {
  font-family: "Shippori Mincho", serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.position {
  font-weight: 700;
  text-align: center;
}

.menu-section nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.coupon-button {
  font-family: "Shippori Mincho", serif;
  padding: 10px 30px;
}

.coupon-button::before {
  content: '';
  display: inline-block;
  width: 90px;
  height: 30px;
  background: url(image/logo-hotppepper.png) no-repeat 0 0 / contain;
  vertical-align: middle;
  margin: 0 6px 0 0;
}

.menu-button {
  font-family: "Shippori Mincho", serif;
  padding: 10px 30px;
}




/* footer */




/* PC */

@media (any-hover: hover) {
  a:hover {
    opacity: .75;
  }
}
