/* common */

:root {
  --color-bg-beige: #F1EFE4;
  --color-bg-white: #fff;
  --width-pc: 1000px;
  --height-header: 80px;
}

html {
  scroll-padding-top: var(--height-header);
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 16px;
  color: #000;
  background-color: var(--color-bg-beige);
}

body.is-active {
  overflow: hidden;
}

main {
  padding: var(--height-header) 0 0;
}

h1,
h2,
h3 {
  font-size: 16px; 
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: all .3s ease-in-out;
}

p {
  font-family: "Shippori Mincho", serif;
  line-height: 200%;
}

.button {
  font-family: "Shippori Mincho", serif;
  font-style: normal;
  color: #FFFFFF;
  background: linear-gradient(360deg, #DE6262 -24.07%, #FFB88C 88.18%);
  border-radius: 10px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.home-section,
.footer-section,
.menu-common{
  padding: 40px 4%;
}



/* SP Style */

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bg-beige);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--height-header);
  z-index: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.header-inner {
  display: flex;
  gap: 15px;
  margin: 0 15px 0 0;
}

.logo img {
  width: var(--height-header);
  height: var(--height-header);
}

.header-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
  gap: 1px;
  font-weight: 400;
  font-family: "Tenor Sans";
}

.header-button::before {
  content: attr(data-kana);
  font-family: "Shippori Mincho", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
}

.global-nav,
.menu-button-list,
.footer-nav {
  font-family: "Tenor Sans";
}

@media (width <= 767px) {

  /* TODO 一応残しておく。 */
  .br-pc {
    display: none;
  }
/* TODO ハンバーガーメニューのアニメーションでハサミ切り替えを今度やる。 */
  .hamburger {
    display: flex;
    justify-content: center;
    background: url(image/icon-cut-close.svg) no-repeat 0 0 / contain;
    width: 40px;
    height: 40px;
    border: none;
    font-family: "Tenor Sans";
    font-size: 10px;
    padding: 40px 0 0;
  }
  
  body.is-active .hamburger {
    background: url(image/icon-cut.svg) no-repeat 0 0 / contain;
  }

  .global-nav {
    position: fixed;
    top: var(--height-header);
    right: 0;
    width: calc(100vw - 80px);
    height: calc(100svh - var(--height-header));
    background: var(--color-bg-beige);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 150;
    font-size: 20px;
    padding: 80px 8% 0;
  }

  .global-nav ul {
    border-top: 1px solid #E3DBAF;
  }

  .global-nav ul li {
    text-align: center;
    border-bottom: 1px solid #E3DBAF;
  }

  .global-nav-link {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
  }

  .global-nav-link::before {
    content: attr(data-kana);
    font-family: "Shippori Mincho", serif;
    font-size: 10px;
  }

  .global-nav ul li:hover {
    background: #eee;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility 0s .3s;
    z-index: 140;
  }



  body.is-active .global-nav {
    transform: translateX(0);
  }

  body.is-active .overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease;
  }

  .access-content {
  margin: 0 0 30px;
  }
}



/* main */

.home-section:nth-of-type(even) {
  background-color: #FFFFFF;
}

:where(.home-section p:not(:last-child)) {
  margin: 0 0 30px;
}

.concept-text p{
  margin: 0 0 30px;
}

.sub-title {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: .1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px;
  position: relative;
}

.sub-title::before {
  content: attr(data-en);
  font-family: "Tenor Sans";
  font-size: 32px;
  margin: 0 0 8px;
}

.sub-title::after {
  display: block;
  content: '';
  position: absolute;
  width: 26px;
  height: 5px;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 41px;
  background: #E3DBAF;
}

.stylist-photo {
  display: flex;
  justify-content: center;
}

.stylist-section img {
  width: 170px;
  margin: 0 0 30px;
}

.name {
  font-family: "Shippori Mincho", serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.position {
  font-weight: 700;
  text-align: center;
}

.nav-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.coupon-button {
  padding: 10px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coupon-button::before {
  content: '';
  display: inline-block;
  width: 90px;
  height: 30px;
  background: url(image/logo-hotppepper.png) no-repeat 0 0 / contain;
  vertical-align: middle;
  margin: 0 6px 0 0;
}

.menu-button {
  padding: 16px 30px;
}

.access-box {
  border-top: 1px solid #E3DBAF;
  padding: 10px 0;
}

.access-box:last-of-type {
  border-bottom: 1px solid #E3DBAF;
}

.address-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.access-box p:not(:last-child){
  margin: 0;
}

.third-title {
  font-family: "Shippori Mincho", serif;
  margin: 0 0 4px;
}

.access-box ul {
  font-family: "Shippori Mincho", serif;
  line-height: 200%;
  list-style-type: disc;
  padding: 0 0 0 24px;
  
}

.map {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.recruit-section {
  text-align: center;
  background: linear-gradient(360deg, #FFFFFF 0%, #F1EFE4 100%);
}

.recruitment {
  font-family: "Shippori Mincho", serif;
  text-align: center;
  margin: 0 0 30px;
}




/* footer */

.tel-button {
  padding: 16px 30px;
}

.tel-button::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(image/icon-phone.svg) no-repeat 0 0 / contain;
  margin: 0 8px 0 0;
  vertical-align: bottom;
}

.reserve-button {
  padding: 20px 12px;
}

.reserve-button::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(image/icon-cut-white.svg) no-repeat 0 0 / contain;
  margin: 0 8px 0 0;
  vertical-align: bottom;
}

.footer-inner {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px 0;
}

.footer-logo img {
  width: 100px;
}

.footer-nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.copyright {
  text-align: center;
  padding: 0 0 20px;
}

footer {
  background: url(image/footer-bg.png) no-repeat top center / cover;
}




/* MENU Page SP */

.menu-nav-list {
  margin: 0 0 40px;
}

.menu-button-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.menu-jump-button {
  display: block;
  background: #fff;
  border: 1px solid #E3DBAF;
  border-radius: 10px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;
}

.menu-jump-button::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(image/icon-arrow-bottom.svg) no-repeat 0 0 / contain;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-title {
  font-size: 28px;
  font-family: "Tenor Sans";
  font-weight: 400;
  letter-spacing: .1em;
  text-align: center;
  margin: 0 0 30px;
}

.menu-list-box:last-of-type {
  background: linear-gradient(360deg, #FFFFFF 0%, #F1EFE4 100%);
  padding-bottom: 200px;
}

.menu-list-box ul {
  background: #fff;
  padding: 20px 40px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.menu-list-box li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
}

.menu-list-box li:not(:last-child) {
  border-bottom: 1px solid #E3DBAF;
}

.menu-list-label {
  font-size: 14px;
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
}

.menu-list-note {
  font-size: 10px;
}





/*HOME PC Style */
@media screen and (width >= 768px) {

  .hamburger {
    display: none;
  }

  .logo {
    flex-shrink: 0;
    margin: 0 10px 0 0;
  }

  .header-inner {
    flex-grow: 1;
    align-items: center;
  }

  .global-nav {
    margin: 0 auto;
  }

  .global-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .global-nav-link::before {
    content: attr(data-kana);
    font-family: "Shippori Mincho", serif;
    font-size: 10px;
  }

  .global-nav-link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #000;
    content: '';
    width: 100%;
    height: 2px;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform .3s;
  }

  .global-nav ul {
    display: flex;
    gap: 30px;
  }

  .home-section {
    padding: 80px 4%;
  }

  .home-inner {
    max-width: 1000px;
    margin: 0 auto;
  }

  .concept-section .home-inner {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  .concept-text p {
    margin: 0;
  }
  
  .pc-sub-title {
    align-items: normal;
  }

  .pc-sub-title::after {
    margin: 0;
  }
  
  .stylist-section .home-inner {
    display: grid;
    grid-template-columns: 170px auto;
    gap: 20px;
  }

  .stylist-photo {
    display: block;
  }

  .name,
  .position {
    text-align: left;
  }

  .position {
    margin: 0 0 10px;
  }

  .pc-grid-end {
    align-self: end;
  }

  .pc-grid-end p:not(.position) {
    margin: 0 0 20px;
  }

  .menu-section,
  .recruit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-inner {
    max-width: 500px;
  }

  .menu-section p {
    margin: 0 0 40px;
  }

  .access-section .home-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }

  .footer-nav ul {
    grid-template-columns: repeat(6, auto);
  }

  .footer-nav-link {
    position: relative;
  }

  .footer-nav-link::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    background: #000;
    content: '';
    width: 100%;
    height: 2px;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform .3s;
  }




  /* MENU PC Page */

  .menu-list-box ul {
    max-width: 1000px;
    margin: 0 auto;
  }

  .menu-list-box:last-of-type {
    padding-bottom: 300px;
  }

}





@media (any-hover: hover) {
  a:hover {
    opacity: .75;
  }

  .button:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    transform: scale(1.04);
  }

  .global-nav-link:hover::after,
  .footer-nav-link:hover::after {
    transform: scale(1.1);
  }

  .map-button:hover {
    transform: scale(1.4);
  }

  .menu-jump-button:hover {
    letter-spacing: 0.12em;
    text-indent: 0.12em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  }

}


