/* common */

:root {
  --color-bg-beige: #F1EFE4;
  --color-bg-white: #fff;
  --width-pc: 1000px;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 16px;
  color: #000;
  background-color: var(--color-bg-beige);
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-family: 'Shippori Mincho';
}

/* TODO 全体にかけるやつをShippori Minchoにするかを確認する。 */
.button {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  background: linear-gradient(360deg, #DE6262 -24.07%, #FFB88C 88.18%);
  border-radius: 10px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}




/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
}

.global-nav {
  display: none;
}

.header-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 1px;
}

/* TODO 文字サイズの確認。 */
.header-button::before {
  content: attr(data-kana);
  font-family: "Shippori Mincho", serif;
  font-weight: 700;
  font-style: normal;
}




/* main */

.home-section {
  padding: 40px 4%;
}

.home-section p {
  margin: 0 0 30px;
  line-height: 200%;
}

.sub-title {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px;
}

.sub-title::before {
  content: attr(data-en);
  font-family: "Tenor Sans";
  font-size: 32px;
}

/* TODO 確認する。
長方形 1

position: absolute;
width: 26px;
height: 5px;
left: 0px;
top: 37px;

background: #E3DBAF; */

.stylist-section img {
  margin: 0 0 30px;
}

.name  {
  font-family: 'Shippori Mincho';
  font-size: 20px;
  font-weight: 700;
}

.position {
  font-weight: 700;
}

.menu-section nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* TODO ここまで、色々確認したいところがある。 */
.coupon-button {
  padding: 10px 30px;
}

.menu-button {
  padding: 10px 30px;
}



/* footer */




/* PC */

@media (any-hover: hover) {
  a:hover {
    opacity: .75;
  }
}
